.expenses{
    padding: 1rem;
    background-color: rgb(31, 31, 31);
    width: 938px;
    max-width: 95%;
    border-radius: 24px;
    margin-right: auto;
    margin-left: auto;
    grid-column: 1;
}
.ItemContainer {
    display: grid;
    grid-template-columns: repeat(3, 275px);
    grid-template-rows: repeat(512px);
    gap:10px;
}